html {
  font-family: $font-body;
  font-size: 62.5%; // = 10px in most browsers and will make calculating rems much easier
  box-sizing: border-box;

  * {
    box-sizing: inherit;
  }
}

body {
  padding: 0;
  margin: 0;
  background-color: $site-background-color;
  font-size: 1.6rem;
  color: $site-text-color;
}

[aria-hidden="true"] {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  word-break: break-word;
}

a {
  color: $link-color;
  transition: all 150ms;
  text-decoration: none;
  text-decoration-skip: ink;

  img {
    border: 0;
  }
}

a:hover,
a:active,
a:focus {
  color: $link-hover-color;
  text-decoration: underline;
}

/* Animations */
@keyframes reveal-menu-link {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

header,
footer,
section {
  display: block;
}

// screen reader only text
// Credit: HTML5 Boilerplate
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable {
  &:active,
  &:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
  }
}

span.hide-on-mobile {
  display: none;
  @media only screen and (min-width: $screen-sm-min) {
    display: inline;
  }
}

span.hide-on-desktop {
  display: inline;
  @media only screen and (min-width: $screen-sm-min) {
    display: none;
  }
}

%dotted-partial-hr {
  &:after {
    content: "";
    display: block;
    border-top: 4px dotted $hr-color;
    margin: 0 auto;
    width: 340px;
    max-width: 100%;
  }
}

%container--top-dots {
  &:before {
    content: "";
    display: block;
    border-top: 4px dotted $hr-color;
    margin: 0 auto;
    width: 340px;
    max-width: 100%;
    padding-bottom: 5rem;
  }
}

%container--bottom-dots {
  &:after {
    content: "";
    display: block;
    border-top: 4px dotted $hr-color;
    margin: 0 auto;
    margin-top: 5rem;
    width: 340px;
    max-width: 100%;
  }
}

/**
 * Magnific Popup
 */
.mfp-white-popup {
  position: relative;
  background: #fff;
  padding: 25px;
  width: auto;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 2rem rgba($black, 0.2);
}

.mfp-bg {
  background: rgba(255, 255, 255, 0.9);
}

// zoom in effect
.mfp-zoom-in {
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }

  /* animate out */
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}
