@mixin bg-icon-facebook($color: $tank-blue-3) {
  background-image: svg-url(
  '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.1 35.1"><path fill="' + $color + '" d="M17.5 0a17.6 17.6 0 1 0 17.6 17.5A17.5 17.5 0 0 0 17.5 0zm5.2 10.3h-2.4c-.9 0-1.1.4-1.1 1.3v2.1h3.5l-.3 3.8h-3.2v11.4h-4.5V17.6h-2.4v-3.9h2.4v-3c0-2.8 1.5-4.3 4.9-4.3h3.1v3.9z" /></svg>'
  );
}

@mixin bg-icon-linkedin($color: $tank-blue-3) {
  background-image: svg-url(
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27.5 27.5"><path fill="' + $color + '" d="M13.7 0a13.8 13.8 0 1 0 13.8 13.7A13.8 13.8 0 0 0 13.7 0zm-3.6 20.4h-3v-9.8h3zm-1.5-11a1.8 1.8 0 1 1 0-3.6 1.8 1.8 0 0 1 0 3.6zm12.8 11h-3v-5.1c0-1.4-.6-2.2-1.7-2.2s-1.8.8-1.8 2.2v5.1H12v-9.8h2.9V12a3.4 3.4 0 0 1 2.9-1.7c2.1 0 3.6 1.3 3.6 3.9z" /></svg>'
  );
}

@mixin bg-icon-twitter($color: $tank-blue-3) {
  background-image: svg-url(
    '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72.7 72.7"><path fill="' + $color + '" d="M36.4 0a36.4 36.4 0 1 0 36.3 36.4A36.4 36.4 0 0 0 36.4 0zm18.2 30.1c.6 11.9-8.3 25.1-23.9 25.1a24.1 24.1 0 0 1-13-3.8 16.9 16.9 0 0 0 12.5-3.5 8.3 8.3 0 0 1-7.8-5.9 8.1 8.1 0 0 0 3.8-.1 8.4 8.4 0 0 1-6.8-8.4 8 8 0 0 0 3.8 1.1 8.6 8.6 0 0 1-2.6-11.3A23.9 23.9 0 0 0 38 32.1a8.5 8.5 0 0 1 8.2-10.3 8.8 8.8 0 0 1 6.2 2.6 14.2 14.2 0 0 0 5.3-2 8.7 8.7 0 0 1-3.7 4.7 15.6 15.6 0 0 0 4.8-1.4 16 16 0 0 1-4.2 4.4z"/></svg>'
  );
}
