/* Container */
%sides-container {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 0 $side-margin-mobile;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 0 $side-margin-desktop;
  }
}

%sides-container-2 {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 1rem;

  @media only screen and (min-width: $screen-md-min) {
    padding: 2rem;
  }
}

%main-container {
  width: 100%;
  max-width: $page-max-width;
  margin: 0 auto;
  padding: 3rem $side-margin-mobile 4rem;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 20rem $side-margin-desktop 18rem;
  }
}

// main content wrapper
.wrap {
  @media only screen and (min-width: $screen-sm-min) {
    min-height: calc(
      100vh - #{$footer-height-desktop} - #{$header-height-desktop}
    );
  }
}

%standard-section-padding {
  padding: 4rem 0;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 11rem 0;
  }
}

/*

  New Grid. All of this pretty heavily overlaps with Bootstrap 4, so if you need more features
  or grid support, definitely just rip all this out and add real Bootstrap.

 */
$grid-gutter-width: $side-margin-desktop;

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  @media only screen and (min-width: $screen-sm-min) {
    margin-right: ($grid-gutter-width / -2);
    margin-left: ($grid-gutter-width / -2);
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    position: relative;
    width: 100%;
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
    flex: 0 0 100%;
    max-width: 100%;
    @media only screen and (min-width: $screen-sm-min) {
      flex: 0 0 calc((#{$i} / 12) * 100%);
      max-width: calc((#{$i} / 12) * 100%);
    }
  }
}
