/* Type Styles: Defined by Ideaville, mostly. */
// the plan was probably to overwrite all of these, but it's probably a better plan to
// make a tank-type-hierarchy and delete these as the types settle.

.font-heading-4 {
  margin: 0 0 0.6em;
  font: {
    family: $font-body;
    size: 1.8rem;
    weight: 600;
  }
  line-height: 1.3;
  color: $heading-color;

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 2rem;
    }
  }
}

.font-heading-6 {
  margin: 0 0 0.8em;
  font: {
    family: $font-heading;
    size: 1.8rem;
    weight: 300;
  }
  line-height: 1.3;

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 2.4rem;
    }
  }
}

.font-heading-7 {
  margin: 0;
  font: {
    family: $font-body;
    size: 1.4rem;
    weight: 600;
  }
  text-transform: uppercase;
  letter-spacing: tracking(40);

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 2rem;
    }
  }
}

.font-body-1 {
  margin: 0 0 1.5em;
  font: {
    size: 1.4rem;
    family: $font-body;
  }
  line-height: (28/22);

  @media only screen and (min-width: $screen-sm-min) {
    font-size: 1.6rem;
    line-height: (26/17);
  }
}

.font-body-3 {
  margin: 0 0 1.5em;
  font: {
    size: 1.3rem;
    family: $font-body;
  }
  line-height: 1.2;

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 1.4rem;
    }
  }
}

.font-body-4 {
  margin: 0 0 1.5em;
  font: {
    size: 1.2rem;
    family: $font-body;
  }
  line-height: 1.2;
}

// ✧･ﾟ: * ✧･ﾟ:* --------------------
// ✨ Type Styles: from Tank ✨
// *:･ﾟ✧ *:･ﾟ✧  --------------------

.tank-font-heading-1 {
  font: {
    family: $font-body;
    size: rem(40px);
    weight: bold;
  }
  text-transform: uppercase;
  letter-spacing: tracking(60);
  i {
    font: {
      weight: 300;
      style: normal;
    }
  }

  @media only screen and (min-width: $screen-sm-min) {
    font-size: rem(49px);
  }
}

.tank-font-heading-2 {
  font: {
    family: $font-heading;
    size: 3rem;
    weight: 400;
  }
  letter-spacing: tracking(4);
  line-height: calc(52.4 / 42.0);

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 4.2rem;
    }
  }
}

.tank-font-heading-3 {
  font: {
    family: $font-heading;
    size: 2.8rem;
    weight: 300;
  }
  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 3rem;
    }
  }
}

.tank-font-heading-4 {
  margin: 0;
  font: {
    family: $font-body;
    size: 1.4rem;
    weight: 600;
  }
  text-transform: uppercase;
  letter-spacing: tracking(40);

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 2rem;
    }
  }
}

.tank-font-body-1 {
  font: {
    size: 1.8rem;
    family: $font-body;
    weight: 300;
  }
  letter-spacing: tracking(40);
  line-height: calc(29.6 / 20);

  @media only screen and (min-width: $screen-sm-min) {
    font: {
      size: 2rem;
    }
  }
}

// ✧･ﾟ: * ✧･ﾟ:* --------------------
// ✨ Global applications ✨
// *:･ﾟ✧ *:･ﾟ✧  --------------------

p {
  @extend .tank-font-body-1;

  &.small {
    @extend .font-body-4;
  }

  &.narrow {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
  }
}
