// Fonts
$font-gilroy: "Gilroy", sans-serif;

// Font assignments
$font-body: $font-gilroy;
$font-heading: $font-gilroy;

// Colors
$black: #000;
$white: #fff;
$primary-blue-1: #1b75bc;
$primary-blue-2: #00aeef;
$primary-blue-3: #262262;
$primary-gray: #6d6e71;
$secondary-green-1: #99c93d;
$secondary-green-2: #75cc5e;
$secondary-green-3: #33b2b0;
$secondary-blue-1: #0087fa;
$secondary-blue-2: #0559c4;
$secondary-orange: #ff9c2c;
$secondary-tan: #eadcb5;

// Tank Palette
$tank-primary-gray: #808080;
$tank-light-gray: #e8e8e8;
$tank-orange: #ff802e;
$tank-blood-orange: #e14000;
$tank-blue-1: #2280ae;
$tank-blue-3: #000031;
$tank-cyan: #00AEEF;
$tank-dark-gray: #4d4d4d;

$gray: $tank-primary-gray;
$gray-2: $tank-light-gray;
$blue: $secondary-blue-2;
$orange: $secondary-orange;

// Color assignments
$heading-color: $tank-blue-3;
$site-text-color: $black;
$site-background-color: $white;
$nav-link-color: $black;
$link-color: $tank-blue-3;
$link-hover-color: lighten($link-color, 30%);
$hr-color: $gray;
$menu-toggle-color: $primary-blue-1;
$footer-background-color: $tank-blue-3;
$footer-color: $tank-blue-1;
$button-color: $blue;
$button-hover-color: $white;

// Responsive sizing for media queries
$screen-xs-min: (480em/16);
$screen-sm-min: (768em/16);
$screen-md-min: (1080em/16);
$screen-lg-min: (1440em/16);

// other
$page-max-width: 132rem;
$header-height-mobile: 6rem;
$header-height-desktop: 13.5rem;
$header-subnav-height-desktop: 6rem;
$footer-height-desktop: 12.3rem;
$footer-height-mobile: 18.3rem; // making some assumptions about menu size to avoid JS height calcs. Impacts contact page only
$side-margin-mobile: 2rem;
$side-margin-desktop: 6rem;
