.about-block {
  @media only screen and (min-width: $screen-sm-min) {
    text-align: center;
  }


  hr {
    margin: 7rem 0;
  }

  // Typography
  h2 {
    color: $heading-color;
  }

  h4 {
    @extend .tank-font-heading-4;
    color: $tank-orange;
    margin: 4rem 0;
  }
}
