.button {
  position: relative;
  display: inline-block;
  padding: 0.55rem 1.7rem;
  border: 0.2rem solid $button-color;
  border-radius: 2rem;
  transition: all 250ms ease-out;
  font: {
    size: 1.2rem;
    weight: 600;
  }
  color: $button-color;

  &.active,
  &:focus,
  &:hover {
    color: $button-hover-color;
    background-color: $button-color;
    border-color: $button-color;
    text-decoration: none;
  }

  @media only screen and (min-width: $screen-sm-min) {
    padding: 1.1rem 3.4rem;
  }
}

.button-arrow {
  width: 3.4rem;
  height: 3.4rem;
  background: {
    repeat: no-repeat;
    image: svg-url(
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><style>.a{fill:none;stroke-width:2;stroke:#FF9C2C;}</style><circle cx="18" cy="18" r="17" class="a"/><line x1="7.7" y1="18" x2="24.7" y2="18" class="a"/><polyline points="16.7 9.7 24.8 18 16.7 26.2 " class="a"/></svg>'
    );
  }
}

.button-back {
  @extend .button;
  padding: 1.1rem 5.4rem 1.1rem calc(5.4rem - 1.5rem);

  &:before {
    content: "";
    display: inline-block;
    margin-right: 0.8rem;
    position: relative;
    top: -0.1rem;
    border: 0.2rem solid $blue;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(-135deg);
    border-bottom: 0;
    border-left: 0;
  }

  &:hover,
  &:focus {
    &:before {
      border-color: $white;
    }
  }
}

.sharing-buttons {
  .resp-sharing-button__link,
  .resp-sharing-button__icon {
    display: inline-block;
  }

  .resp-sharing-button__link {
    text-decoration: none;
    color: $gray;
    margin: 0 1.2rem 0 0;
    width: 2rem;
    height: 2rem;
    vertical-align: top;

    @media only screen and (min-width: $screen-md-min) {
      display: block;
      margin: 0 0 2.2rem;
    }
  }

  .resp-sharing-button {
    width: 2rem;
    height: 2rem;
    border-radius: 2px;
    padding: 0;
    svg {
      transition: all 150ms ease-out;
    }
  }

  .resp-sharing-button__icon svg {
    width: 2rem;
    height: 2rem;
    vertical-align: top;
  }

  .resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle;
  }
  .resp-sharing-button__icon--solid {
    stroke: none;
  }

  .resp-sharing-button--twitter {
    fill: $gray;

    &:hover {
      fill: #55acee;
    }
  }

  .resp-sharing-button--facebook {
    background: $gray;
    fill: $white;
    position: relative;

    &:hover {
      background: #3b5998;
    }

    svg {
      position: absolute;
      bottom: -0.05rem;
      right: 0rem;
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  .resp-sharing-button--linkedin {
    fill: $gray;

    &:hover {
      fill: #0077b5;
    }
  }

  .resp-sharing-button--email {
    fill: $gray;

    &:hover {
      fill: $orange;
    }
  }
}

.more-link {
  margin: 0;
  display: inline-block;
  font: {
    size: 1.3rem;
    weight: 700;
  }
  text-transform: uppercase;
  color: $blue;

  &:focus,
  &:hover {
    &:after {
      border-top-color: $black;
      border-right-color: $black;
    }
  }

  &:after {
    content: "";
    display: inline-block;
    margin-left: 1.3rem;
    position: relative;
    top: -0.1rem;
    border: 0.2rem solid $blue;
    width: 0.5rem;
    height: 0.5rem;
    transform: rotate(45deg);
    border-bottom: 0;
    border-left: 0;
  }
}

.close-button {
  display: block;
  width: 32px;
  height: 32px;
  background: {
    image: svg-url(
      '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.86 33.86"><defs><style>.cls-1{fill:' +
        $blue + ";}.cls-1,.cls-2{stroke:" + $white +
        ';stroke-miterlimit:10;}.cls-2{fill:none;stroke-width:2px;}</style></defs><title>Asset 56</title><g id="Layer_2" data-name="Layer 2"><g id="Content"><circle class="cls-1" cx="16.93" cy="16.93" r="16.43"/><line class="cls-2" x1="25.44" y1="8.42" x2="8.42" y2="25.44"/><line class="cls-2" x1="8.42" y1="8.42" x2="25.44" y2="25.44"/></g></g></svg>'
    );
  }
}

.button-2 {
  display: inline-block;
  background-color: $orange;
  padding: 1.5rem 2.5rem;
  color: $white;
  font: {
    weight: 600;
  }
  text-transform: uppercase;
  letter-spacing: 0.15em;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: darken($orange, 10);
  }
}

.button-cta {
  text-transform: uppercase;
  font: {
    size: rem(20px);
  }
  &:before {
    content: "> ";
  }

  color: $link-color;
}

button.button-cta {
  background: none;
  border: none;
  padding: 0;
  font-weight: 300;
  letter-spacing: tracking(4);

  color: $link-color;
  transition: all 150ms;

  &:hover,
  &:active,
  &:focus {
    color: $link-hover-color;
    text-decoration: underline;
  }
}
