//**
//** Deprecated.
.columns-two.section-default {
  background-color: $gray-2;
  padding: 4rem 0;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 6rem 0;
  }

  .container {
    @media only screen and (min-width: $screen-sm-min) {
      max-width: (89.5rem + $side-margin-desktop * 2);

      display: flex;
      justify-content: space-between;
    }
  }

  .column {
    @media only screen and (min-width: $screen-sm-min) {
      width: 50%;
    }

    *:last-child {
      @media only screen and (min-width: $screen-sm-min) {
        margin-bottom: 0;
      }
    }

    &.column-1 {
      @media only screen and (min-width: $screen-sm-min) {
        border-right: 0.3rem solid #fff;
        padding-right: 13.5%;
      }
    }

    &.column-2 {
      *:last-child {
        margin-bottom: 0;
      }

      @media only screen and (min-width: $screen-sm-min) {
        padding-left: 13.5%;
      }
    }

    h2 {
      @extend .tank-font-heading-2;
      line-height: 1;
    }
  }
}
