.middle-bottom {
  width: 290px;

  .little-middle-logo {
    margin-top: 10px;
    margin-left: -40px;
    margin-right: -40px;
  }
}

.company-list {
  // @extend %standard-section-padding;

  .container {
    @extend %sides-container;

    @media only screen and (min-width: $screen-sm-min) {
      max-width: (104.4rem + $side-margin-desktop * 2);
    }
  }

  .introduction {
    text-align: center;
    h2 {
      @extend .tank-font-heading-2;
    }
    p {
      text-align: center;
    }
  }

  .company-name {
    text-align: center;
    @extend .font-heading-4;
    font-weight: 500;
    margin: 0 0 0.7em;
    color: $gray;

    strong {
      font-weight: 500;
      color: $blue;
    }
  }

  .area-name {
    @extend .font-body-1;
    strong,
    span {
      clear: both;
      width: 100%;
      display: block;
    }
  }

  .company {
    padding-bottom: 4rem;
  }

  .focus-area {
    margin-bottom: 4rem;
    @media only screen and (min-width: $screen-sm-min) {
      padding-left: 200px;
    }
    text-align: left;
    &:last-child {
      margin-bottom: 0;
    }
    p {
      text-align: left;
    }
  }

  .area-details {
    display: flex;

    .image {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: 10.4rem;
      height: 10.4rem;
      border: 3px solid #e8e8e8;
      border-radius: 50%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 4rem;

      img {
        margin: 0 auto;
      }

      @media only screen and (min-width: $screen-sm-min) {
        width: 10rem;
      }
    }
  }

  h4 {
    @extend .font-heading-7;
  }
}
img.company-logo {
  max-width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto 20px auto;
}
