@import "~mathsass/dist/math";

$companies-logo-circle-diameter: 218px;
$companies-container-size: 860px;
// $c-blob-margin: 15px;

.page-template-template-companies {
  .cool-new-wheel-container {
    width: $companies-container-size;
    height: $companies-container-size;
    margin-bottom: 30px;
  }

  .middle-container {
    position: absolute;
    width: 210px;
    top: 342px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  // Fake the wheel popup's clip paths.
  .wheel-popup {
    &:nth-of-type(1) .blob-inside {
      padding-top: 220px;
    }

    &:nth-of-type(2) .blob-inside {
      padding-top: 90px;
    }

    &:nth-of-type(3) .blob-inside {
      .area-desc {
        width: 75%;
        margin-left: -130px;
      }
    }

    &:nth-of-type(4) .blob-inside {
      .area-desc {
        width: 90%;
      }
    }
    &:nth-of-type(6) .blob-inside {
      .area-desc {
        width: 90%;
      }
    }
  }

  .blob-inside {
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    .area-name {
      span.icon-external {
        background-image: svg-url(
          '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="' +
            $white +
            '" d="M576 14.4l-.174 163.2c0 7.953-6.447 14.4-14.4 14.4H528.12c-8.067 0-14.56-6.626-14.397-14.691l2.717-73.627-2.062-2.062-278.863 278.865c-4.686 4.686-12.284 4.686-16.971 0l-23.029-23.029c-4.686-4.686-4.686-12.284 0-16.971L474.379 61.621l-2.062-2.062-73.626 2.717C390.626 62.44 384 55.946 384 47.879V14.574c0-7.953 6.447-14.4 14.4-14.4L561.6 0c7.953 0 14.4 6.447 14.4 14.4zM427.515 233.74l-24 24a12.002 12.002 0 0 0-3.515 8.485V458a6 6 0 0 1-6 6H54a6 6 0 0 1-6-6V118a6 6 0 0 1 6-6h301.976c10.691 0 16.045-12.926 8.485-20.485l-24-24A12.002 12.002 0 0 0 331.976 64H48C21.49 64 0 85.49 0 112v352c0 26.51 21.49 48 48 48h352c26.51 0 48-21.49 48-48V242.225c0-10.691-12.926-16.045-20.485-8.485z"/></svg>'
        );
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .area-desc {
    line-height: 150%;
  }

  .wheel-popup .back {
    top: 0px;
    right: 64px;
  }

  .middle-logo {
  }

  .white-logo {
    margin-top: 20px;
  }

  .cool-new-wheel-blob {
    width: $companies-logo-circle-diameter;
    height: $companies-logo-circle-diameter;

    padding: $companies-logo-circle-diameter / 5;

    &.company {
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-line-pack: center;
      align-content: center;
      text-align: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      transition: all 0.25s ease-in-out;
      padding: 20px;

      &.is--active {
        background: #ffffff !important;

        .company-name {
          opacity: 0;
          font-weight: 600;
        }
      }

      .company-name {
        opacity: 1;
        font-weight: 600;
      }

      .plus {
        font-size: 5rem;
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
      }

      .area-logo {
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        position: relative;
        z-index: 1;
        max-width: 115px;
        max-height: 120px;
        height: 100%;
        width: 100%;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
      }

      // Positioning Logic
      @for $i from 1 through 6 {
        $RADIUS: $companies-logo-circle-diameter / 2;
        $CENTER: $companies-container-size / 2;
        $ANGLE: (360deg / 6 * $i - 30deg + 180deg);

        $OFFSET_FROM_CENTER: (
          ($companies-container-size - (2 * $companies-logo-circle-diameter)) /
            2 +
            $RADIUS
        );

        &:nth-child(#{$i}) {
          left: calc(#{cos($ANGLE)} * #{$OFFSET_FROM_CENTER});
          top: calc(#{sin($ANGLE)} * #{$OFFSET_FROM_CENTER});

          transform: translateX($CENTER - $RADIUS)
            translateY($CENTER - $RADIUS);
        }
      }
    }
  }

  .focus-area-logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: $logo-size;
    height: $logo-size;
    border: 3px solid blue;
    border-radius: 50%;
    -ms-flex-align: center;
    align-items: center;
    position: Absolute;
  }
}

@media only screen and (max-width: $screen-sm-min) {
  .cool-new-wheel-spacing {
    display: none;
  }

  .company-list .area-details {
    flex-direction: column;
    align-items: center;
  }

  .company-list .company {
    padding-bottom: 0px;
  }
}
