.cta-block {
  margin: 4rem 0;
  @media only screen and (min-width: $screen-sm-min) {
    margin: 11rem 0;
  }

  .container {
    @extend %sides-container;

    @media only screen and (min-width: $screen-sm-min) {
      text-align: center;
    }
  }

  .button-wrap {
    padding-top: 4rem;
  }

  .text {
    margin-bottom: 1rem;
    h2 {
      @extend .tank-font-heading-2;
      color: $heading-color;
      margin-top: 0;
    }

    @media only screen and (min-width: $screen-sm-min) {
      padding: 0 4rem 0 0;
      margin-bottom: 0;

      *:last-child {
        margin-bottom: 0;
      }
    }
  }
}
