.focus-area-list .focus-areas .content-wrap .desc {
  text-align: left;
  font-size: 1.8rem;
  font-family: "Gilroy", sans-serif;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: calc(29.6 / 20);
}
.desc {
  asfasfasf: Asfasfas;
}
.focus-area-list {
  @extend %standard-section-padding;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 0;
    margin: 5rem 0;
  }

  .container {
    @extend %sides-container;

    text-align: center;

    @media only screen and (min-width: $screen-sm-min) {
      max-width: (104.4rem + $side-margin-desktop * 2);
    }
  }

  .section-title {
    @extend .tank-font-heading-4;
    color: $tank-orange;
  }

  .section-text {
    @extend .tank-font-heading-2;
    color: $heading-color;
    margin-top: 4rem;
  }

  .area-title {
    @extend .tank-font-heading-4;
    // lazy override
    @media only screen and (min-width: $screen-sm-min) {
      font: {
        size: 1.7rem;
      }
    }
    text-transform: none;
  }

  // ul
  .focus-areas {
    list-style: none;
    padding: 0;
    margin: 3rem auto;

    li {
      margin: 0;
      padding: 0.75rem 1rem;
      display: inline-flex;
      @media only screen and (max-width: 48em) {
        width: 100%;
      }
    }

    // might only show up on a variant.
    p {
      @extend .font-body-3;
      text-align: left;
    }

    .content-wrap {
      display: flex;
      width: 100%;
      @media only screen and (max-width: $screen-sm-min) {
        flex-direction: column;
        align-items: center;
      }
    }

    /// only on list + wheel.
    &.with-desc {
      @media only screen and (min-width: $screen-sm-min) {
        .content-wrap {
          align-items: flex-start;
        }
      }

      .area-title {
        margin: 0.5em 0 0.5em 0;

        @media only screen and (min-width: $screen-sm-min) {
          margin: 1em 0 0.5em 0;
        }
      }
    }

    .image {
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 10.4rem;
      height: 10.4rem;
      border: 3px solid $tank-light-gray;
      border-radius: 50%;
      align-items: center;
      margin-bottom: 2rem;
      @media only screen and (min-width: $screen-sm-min) {
        margin-right: 5.2rem;
      }

      img {
        display: block;
      }
    }
    h3 {
      text-align: left;
    }
    .text {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;
      width: auto;
    }
    p {
      @extend .tank-font-body-1;
    }
  }

  &.focus-area-list-mobile {
    .image {
      img {
        margin: 0 auto;
      }
    }
  }
}

.cool-new-wheel-spacing {
  padding: 40px 0px;
}
