/**
/// Inherits from .focus-area-lists
*/

.focus-area-list.focus-area-list--icons-only {
  .focus-areas {
    display: flex;
    flex-wrap: wrap;

    @media only screen and (min-width: $screen-sm-min) {
      justify-content: space-around;
    }

    a.to-focus-areas {
      &:active,
      &:focus,
      &:hover {
        text-decoration: none;

        .text .area-title {
          text-decoration: underline;
        }
      }
    }

    .content-wrap {
      width: 100%;
      flex-direction: row;
      @media only screen and (min-width: $screen-sm-min) {
        width: 24rem;
        flex-direction: column;
      }
      align-items: center;

      .image {
        margin: 0 2rem 0 0;
        width: 6rem;
        height: 6rem;

        img {
          max-width: 4rem;
        }

        @media only screen and (min-width: $screen-sm-min) {
          margin-right: 0;
          margin-top: 1rem;
          width: 10.4rem;
          height: 10.4rem;

          img {
            max-width: none;
          }
        }
      }
      .text h3.area-title {
        @media only screen and (min-width: $screen-sm-min) {
          margin-top: 1em;
          text-align: center;
        }
      }
    }
  }
}
