.focus-area-wheel {
  .focus-area-section {
    cursor: pointer;

    &:hover,
    &:focus {
      .background {
        fill: lighten($gray-2, 5);
      }

      outline: none;
    }

    .background {
      transition: all 150ms;
    }
  }

  .companies-by-area {
    display: none;
  }

  #wheel {
    // all this height calc is for IE11
    width: 100%;
    height: 80vw;

    @media only screen and (min-width: $screen-sm-min) {
      width: 50rem;
      height: 50rem;
    }
  }
}


.wheel-content-wrap {
  .focus-area-wheel {
    margin-bottom: 4rem;

    @media only screen and (min-width: $screen-sm-min) {
      margin-bottom: 0;
    }
  }
}

// popup
.area-companies {
  .area-title {
    @extend .font-heading-4;
    font-weight: 600;
  }

  .company-name {
    @extend .font-body-1;
    margin-bottom: 0.2em;
    color: $blue;
  }
}
@media only screen and (max-width: $screen-sm-min) {
  
  .company-list-desktop {
    display: none;
  }
}
