.breadcrumbs {
  display: none !important;
}
.home .breadcrumbs {
  display: none !important;
}
.bubble-container {
  width: 380px;
  height: 380px;
  margin: 20px 0px 20px 0px;
  position: relative;
  @media only screen and (min-width: $screen-sm-min) {
    display: block;
    width: 30%;
  }

  @media only screen and (min-width: $screen-md-min) {
    width: 25%;
  }

  @media only screen and (min-width: $screen-lg-min) {
    width: 400px;
    height: 400px;
  }
}

.hero {
  background-color: $white;
  text-shadow: 0 0 2rem rgba(255, 255, 255, 0.8);

  &,
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $black;
  }

  &.theme-white {
    background-color: $primary-blue-3;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.8);

    &,
    h1,
    h2,
    h3,
    h4,
    h5 {
      color: $white;
    }

    .container {
      background-color: rgba($primary-blue-3, 0.5);

      @media only screen and (min-width: $screen-sm-min) {
        background: none;
      }
    }
  }

  .bg-container {
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: space-between;
    background: {
      size: cover;
      position: center;
    }

    @media only screen and (min-width: $screen-sm-min) {
    }

    @media only screen and (min-width: $screen-md-min) {
      height: 680px;
    }

    @media only screen and (min-width: $screen-lg-min) {
      background-size: contain;
      background-repeat: no-repeat;

      height: 720px;
    }
  }

  .breadcrumbs {
    display: none;

    @extend %sides-container-2;
    padding: 2rem 6rem;
    align-self: flex-start;

    @extend .tank-font-body-1;
    text-transform: capitalize;

    @media only screen and (min-width: $screen-sm-min) {
      display: flex;
    }
  }

  .container {
    @extend %sides-container-2;
    background-color: rgba($white, 0.5);

    @media only screen and (min-width: $screen-sm-min) {
      background: none;
      padding-bottom: 8vh;
    }
  }

  .bubbles {
    position: absolute;
    align-self: center;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    z-index: 30;

    &--screen {
      mix-blend-mode: screen;

      @supports not (mix-blend-mode: screen) {
        opacity: 0.75;
      }

      &.bubbles {
        z-index: 1;
      }
    }

    &--color {
      mix-blend-mode: color;
      &.bubbles {
        z-index: 1;
      }
    }

    svg {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .content {
    padding: 3rem $side-margin-mobile;

    @media only screen and (min-width: $screen-sm-min) {
      padding: 0 4rem;
      margin-right: auto;
      margin-left: auto;
      max-width: 80%;
      text-align: center;
    }
  }

  h1 {
    @extend .tank-font-heading-1;
    margin: 0 0 0.5em;
    hyphens: auto;
  }

  h2 {
    @extend .font-heading-4;
    margin: 0 0 4rem;

    @media only screen and (min-width: $screen-sm-min) {
      margin: 0 0 8rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  p {
    @extend .tank-font-body-1;
    // overrides cuz I'm not sure how the hierarchy works yet.
    line-height: calc(31 / 20);
    margin: 0;
  }

  ul,
  ol {
    max-width: 75rem;
    padding-left: 2.1rem;
    font-weight: 600;
  }

  li {
    margin-bottom: 1em;
  }
}
