.image-text-block {
  background-color: $gray-2;
  padding: 6rem 0;

  .container {
    @extend %sides-container;

    @media only screen and (min-width: $screen-sm-min) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }
  }

  .image {
    margin-bottom: 1rem;

    @media only screen and (min-width: $screen-sm-min) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 30%;
      margin-bottom: 0;
    }
  }

  .text {
    @media only screen and (min-width: $screen-sm-min) {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: auto;
      width: 70%;
      padding: 0 4rem 0 2rem;
    }
  }

  &.layout-left {
    .container {
      @media only screen and (min-width: $screen-sm-min) {
        flex-direction: row;
      }
    }

    .text {
      @media only screen and (min-width: $screen-sm-min) {
        padding: 0 2rem 0 4rem;
      }
    }
  }

  h2 {
    @extend .tank-font-heading-4;

    color: $tank-blue-3;
  }

  p {
    @extend .tank-font-heading-3;
    // @media only screen and (min-width: $screen-sm-min) {
    //   font: {
    //     size: 2.5rem;
    //   }
    //   line-height: 1.2;
    // }
    color: $tank-blue-3;
    margin: 3rem 0;
  }
}
