$blob-size: 150px;
$blob-margin: 10px;

$logo-size: 100px;
$logo-margin: 10px;

.home .focus-area-list--icons-only .focus-areas .image img {
  margin: 0 auto;
}

.small-logo {
  width: 150px;
  height: 150px;
  position: absolute;
  background-size: 75px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
  transition: all 0.5s ease-in-out;
}

.is--active .small-logo {
  opacity: 0;
}

.real-one .middle-logo {
  width: $blob-size;
  position: absolute;
  top: 272px;
  left: 50%;
  transform: translateX(-50%);
}

.cool-new-wheel-container {
  width: $blob-size * 4 + $blob-margin * 2;
  height: $blob-size * 4 + $blob-margin * 2;
  position: relative;
  margin: 0px auto;
}

.cool-new-wheel-blob {
  border: 3px solid;
  text-transform: uppercase;
  width: $blob-size;
  height: $blob-size;
  border-radius: 100%;
  z-index: 3;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  padding: $blob-size / 5;
  transition: all 0.5s ease-in-out;

  .area-name {
    font-size: 1.4rem;
  }

  &:hover {
    background-color: #ffffff !important;
  }

  span {
    z-index: 2;
  }

  .plus {
    font-size: 2.5rem;
    transition: all 0.25s ease-in-out;
  }

  .focus-area-logo {
    display: block;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
  }

  &:hover {
    .focus-area-logo-small {
      opacity: 1;
      display: block;
    }

    .focus-area-logo {
      opacity: 0;
      display: none;
    }

    .plus {
      font-size: 3rem;
    }
  }

  .focus-area-logo {
    display: block;
    -ms-flex-positive: 0;
    max-width: 100px;
    max-height: 100px;
    /* border-radius: 50%; */
    -ms-flex-align: center;
    /* -webkit-box-align: center; */
    align-items: center;
    position: Absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    img {
      max-height: 100%;
    }
  }

  .focus-area-logo-small {
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
  }
}

.wheel-popup {
  z-index: 0;
  border-radius: 100%;
  display: inline-block;
  cursor: pointer;
  position: absolute;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  text-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 80%;
  height: 80%;
  left: 50%;
  top: 50%;
  flex-direction: column;
  padding: 30px;
  transform: translateX(-50%) translateY(-50%);
  color: #ffffff;

  .area-name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 20px;
    > a {
      color: white;
    }
  }

  .area-desc {
    font-size: 1.8rem;
  }

  &.is--active {
    z-index: 5;
    opacity: 1;
  }

  .back {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    top: -25px;
    right: 25px;

    &:after,
    &:before {
      content: " ";
      width: 100%;
      height: 2px;
      background: #000;
      position: absolute;
      top: 23px;
      left: 0px;
      transition: all 0.25s ease-in-out;
    }

    &:after {
      transform: rotate(90deg);
    }

    &:before {
      transform: rotate(90deg);
    }
  }

  &.is--active .back {
    &:hover {
      transform: rotate(180deg);
    }

    &:after {
      transform: rotate(50deg);
    }

    &:before {
      transform: rotate(-50deg);
    }
  }
}

.big-blob-is-active {
  .cool-new-wheel-blob {
    opacity: 0.4;

    &.is--active {
      opacity: 1;
      z-index: 99;
      border: 4px solid #ffffff;
      background-color: #fff !important;
      .plus {
        opacity: 0;
      }
    }
  }
}

@media only screen and (max-width: $screen-sm-min) {
  .cool-new-wheel-container {
    display: none;
  }
}

.real-one {
  .circle2 .area-desc {
    padding-top: 20px;
  }

  .circle4 .area-desc {
    padding-top: 40px;
  }

  .circle5 .area-desc {
    padding-right: 60px;
  }

  .circle6 .area-desc {
    // ✧･ﾟ: * ✧･ﾟ:*
    // One-off clipping around a paragraph.
    // Start googling for "shape-outside" if this breaks.
    // *:･ﾟ✧ *:･ﾟ✧
    $clip-shape: ellipse(75px 75px at 35% 62%);
    @supports (shape-outside: $clip-shape) {
      padding-top: 200px;
    }

    @supports not (shape-outside: $clip-shape) {
      margin-top: -60px;
    }

    @supports (shape-outside: $clip-shape) {
      &:before {
        content: "";
        display: block;
        float: left;

        shape-outside: $clip-shape;
        // clip-path: $clip-shape;
        width: 160px;
        height: 500px;
      }
    }
  }

  .circle1 .area-desc {
    padding-left: 60px;
  }

  .circle8 .area-desc {
    padding-bottom: 40px;
  }
}

.cool-new-wheel-blob:nth-child(1) {
  left: 0;
  top: $blob-size * 1.5 + $blob-margin;

  .small-logo {
    left: -66px;
    top: -61px;
  }
}

.cool-new-wheel-blob:nth-child(2) {
  left: $blob-size / 2;
  top: $blob-size / 2;

  .small-logo {
    top: -107px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.cool-new-wheel-blob:nth-child(3) {
  left: $blob-size * 1.5 + $blob-margin;
  top: 0;

  .small-logo {
    right: -66px;
    top: -61px;
  }
}

.cool-new-wheel-blob:nth-child(4) {
  left: $blob-size * 2.5 + $blob-margin * 2;
  top: $blob-size / 2;

  .small-logo {
    bottom: -73px;
    left: -49px;
  }
}

.cool-new-wheel-blob:nth-child(5) {
  left: $blob-size * 3 + $blob-margin * 2;
  top: $blob-size * 1.5 + $blob-margin;

  .small-logo {
    bottom: -73px;
    right: -49px;
  }
}

//Bottom 3
.cool-new-wheel-blob:nth-child(6) {
  left: $blob-size / 2;
  top: $blob-size * 2.5 + $blob-margin * 2;
}

.cool-new-wheel-blob:nth-child(7) {
  left: $blob-size * 1.5 + $blob-margin;
  top: $blob-size * 3 + $blob-margin * 2;
}

.cool-new-wheel-blob:nth-child(8) {
  left: $blob-size * 2.5 + $blob-margin * 2;
  top: $blob-size * 2.5 + $blob-margin * 2;
}

@media only screen and (max-width: 949px) {
  .company-list .introduction {
    margin-bottom: 0px !important;
  }
}

section.only-on-mobile {
  @media only screen and (min-width: 950px) {
    display: none;
  }

  @media only screen and (max-width: 949px) {
    display: block !important;
  }
}

.circle-layout {
  width: $blob-size;
  height: $blob-size;
  display: block;
  float: left;
  margin-right: 2rem;
  border-radius: 50%;
  -webkit-shape-outside: circle();
  shape-outside: circle();
}

.circle {
  &4 .circle-layout {
    margin-top: 40px;
    margin-left: 23px;
    margin-right: -89px;
    float: right;
  }

  &6 .circle-layout {
    display: none;
  }

  &2 {
    padding-top: 60px;

    .circle-layout {
      display: none;
    }
  }

  &1 .circle-layout {
    margin-top: -161px;
  }

  &7 .circle-layout {
    display: none;
  }
}

.white-logo-wrappers {
  display: flex;
  flex-direction: row;
}

.white-logo {
  $white-logo-size: 140px;

  display: flex;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;

  width: $white-logo-size;
  height: $white-logo-size;

  border: 3px solid #ffffff;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

.page-template-template-companies .main {
  margin-bottom: 0px !important;
}

.circle9 {
  display: none !important;
}
