.team-grid {
  padding: 4rem 0;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 11rem 0;
  }

  .container {
    @extend %sides-container;

    @media only screen and (min-width: $screen-sm-min) {
      max-width: (104.4rem + $side-margin-desktop * 2);
    }
  }

  p {
    margin: 0 0 1em;
    font: {
      size: 1.2rem;
      weight: 400;
    }

    @media only screen and (min-width: $screen-sm-min) {
      font: {
        size: 1.4rem;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  // Sub-navigation between Team Groups
  .tablist {
    display: flex;
    margin-bottom: 4rem;
    justify-content: space-between;
    padding: 0 2rem;
    @media only screen and (min-width: $screen-sm-min) {
      padding: 0;
    }

    button {
      @extend .tank-font-heading-4;
      padding: 0.5em 0;
      margin-bottom: 1.5rem;
      @media only screen and (min-width: $screen-sm-min) {
        margin-left: 3rem;
        margin-right: 3rem;
      }
      cursor: pointer;
      background: none;
      -webkit-appearance: none;
      border: 0;
      transition: all 150ms;

      // down caret icon thing.
      &:after {
        content: "";
        display: block;
        width: rem(18px);
        height: rem(18px);
        border: {
          right: 1px solid $tank-blue-3;
          bottom: 1px solid $tank-blue-3;
        }
        transform: rotate(45deg);
        margin: 0 auto;
        margin-top: rem(-5px);
      }

      &:focus,
      &:hover,
      &[aria-selected="true"] {
        outline: none;
        color: $tank-orange;
      }
    }

    @media only screen and (min-width: $screen-sm-min) {
      display: block;
      text-align: center;
      border-bottom: 1px solid $tank-blue-3;
    }
  }

  .member {
    margin: 0 0 2.5rem;
    padding-bottom: 2.5rem;
    border-bottom: 4px dotted $hr-color;

    @media only screen and (min-width: $screen-xs-min) {
      display: flex;
    }

    @media only screen and (min-width: $screen-sm-min) {
      &:nth-of-type(2n) {
        flex-direction: row-reverse;
      }
    }

    .image {
      width: 12rem;
      height: 12rem;
      border: 1px solid $tank-blue-3;
      border-radius: 50%;
      margin: 0 0 2rem;

      @media only screen and (min-width: $screen-xs-min) {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin: 0 6rem;
      }

      @media only screen and (min-width: $screen-sm-min) {
        width: 25rem;
        height: 25rem;
      }

      img {
        display: block;
        border-radius: 50%;
      }
    }
  }

  .member-name-wrap {
    margin: 0 0 0.5rem;
    display: flex;
    align-items: center;
  }

  .member-name {
    margin: 0 1rem 0 0;
    font: {
      size: 2.2rem;
      weight: 400;
    }
    line-height: 1;

    @media only screen and (min-width: $screen-sm-min) {
      font: {
        size: 2.4rem;
      }
    }
  }

  .member-title {
    margin: 0 0 1em;
    font: {
      size: 1.1rem;
      weight: 600;
    }
    line-height: (21/14);
    text-transform: uppercase;
    letter-spacing: 0.02em;

    @media only screen and (min-width: $screen-sm-min) {
      font: {
        size: 1.6rem;
      }
    }
  }

  .social-icon-wrap {
    line-height: 1;
  }

  .social-icon {
    display: inline-block;
    width: 2.8rem;
    height: 2.8rem;
    margin-right: 1rem;
    background: {
      repeat: no-repeat;
      size: 100%;
    }

    transition: 0.25s ease-in-out;

    &.linkedin {
      @include bg-icon-linkedin;

      &:hover,
      &:active,
      &:focus {
        @include bg-icon-linkedin($tank-blue-1);
      }
    }
  }

  .description {
    margin-top: 3rem;
    margin-bottom: 1em;
    p {
      @extend .tank-font-body-1;
      font-size: 1.6rem;
      letter-spacing: tracking(40);
      line-height: calc(25.6 / 16);
      color: $tank-dark-gray;
    }
    position: relative;

    // Default: Truncate.
    max-height: 8em;
    overflow-y: hidden;

    &:after {
      content: "";
      display: block;
      background-image: linear-gradient(to bottom, transparentize(white, 1) 66%, white 100%);
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
    }

    &.is-expanded {
      max-height: none;
      overflow-y: auto;
      &:after {
        background-image: none;
      }
    }

    & ~ .js-read-more-toggle {
      // Read More toggle button should not read on screen readers.
      &[aria-hidden="true"] {
        display: block;
      }
      &:after {
        content: " more";
        display: inline;
      }
    }

    &.is-expanded ~ .js-read-more-toggle {
      &:after {
        content: " less";
        display: inline;
      }
    }
  }
}
