.content-info {
  background-color: $footer-background-color;
  color: $footer-color;
  padding: 4rem 0;

  @media only screen and (min-width: $screen-sm-min) {
    padding: 5rem 0;
  }

  .container {
    @extend %sides-container;
    padding: 0;

    @media only screen and (min-width: $screen-sm-min) {
      padding: 0 $side-margin-desktop;
    }
  }

  a {
    color: $white;
  }

  .copyright {
    margin-bottom: 2rem;

    @media only screen and (min-width: $screen-sm-min) {
      margin: 0;
    }
  }

  .nav-secondary {
    font: {
      size: rem(18px);
    }

    ul {
      margin: 0;
      padding: 0 0 5rem 0;
      list-style: none;
    }

    li {
      margin: 0.7rem 0;

      &:first-of-type {
        margin-left: 0;
      }

      @media only screen and (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0 0 0 3.5rem;
      }
    }

    a {
      letter-spacing: 0.04rem;
    }
  }

  .social-bar {
    text-align: center;
    @media only screen and (min-width: $screen-sm-min) {
      text-align: right;
    }

    .icon {
      display: inline-block;
      width: 35px;
      height: 35px;
      margin: 0 5px;
    }

    .icon--linkedin {
      @include bg-icon-linkedin($tank-blue-1);

      &:focus,
      &:active,
      &:hover {
        @include bg-icon-linkedin($tank-cyan);
      }
    }
    .icon--twitter {
      @include bg-icon-twitter($tank-blue-1);

      &:focus,
      &:active,
      &:hover {
        @include bg-icon-twitter($tank-cyan);
      }
    }
    .icon--facebook {
      @include bg-icon-facebook($tank-blue-1);
      &:focus,
      &:active,
      &:hover {
        @include bg-icon-facebook($tank-cyan);
      }
    }
  }
}
