
@media only screen and (mzx-height: $screen-lg-min) {


}

.banner {
  position: relative;
  @supports (position: sticky) {
    position: sticky;
  }
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height-mobile;
  background-color: $site-background-color;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

  @media only screen and (min-width: $screen-sm-min) {
    &.submenu-is-visible {
      @supports (position: sticky) {
        background: $white;
      }
      height: $header-height-desktop + $header-subnav-height-desktop;
    }
  }

  @media only screen and (min-width: $screen-lg-min) {
    height: $header-height-desktop;
  }

  .container {
    @extend %sides-container;

    @media only screen and (min-width: $screen-sm-min) {
      display: flex;
    }
  }

  .brand {
    display: block;
    position: relative;
    z-index: 101;
    width: 8.2rem;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 0.8rem 0 0;

    @media only screen and (min-width: $screen-lg-min) {
      width: 15rem;
      padding: 3rem 0 0;
    }
  }

  .nav-primary {
    position: relative;
    display: none;
    margin-top: $header-height-mobile;
    max-height: calc(100vh - #{$header-height-mobile});
    padding: 2rem $side-margin-mobile;

    @media only screen and (min-width: $screen-sm-min) {
      display: block;
      margin: 0;
      padding: 0;
      max-height: none;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: auto;

      right: -0.6rem; // to counter-act link padding and line up with container edge
    }

    .main-menu-container {
      @media only screen and (min-width: $screen-sm-min) {
        position: relative;
        right: -0.8rem;
      }
    }

    &.active {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: $site-background-color;

      li {
        position: relative;
        animation-name: reveal-menu-link;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(
          0.25,
          0.46,
          0.45,
          0.94
        ); // quadratic out
        opacity: 0;
      }

      @for $i from 1 through 20 {
        li:nth-child(#{$i}) {
          animation-delay: 100ms + 100ms * $i;
        }
      }
    }

    a {
      position: relative;
      display: inline-block;
      padding: 1rem 0;
      font: {
        family: $font-gilroy;
        size: 2.8rem;
        weight: bold;
      }
      color: $nav-link-color;
      line-height: 1;
      text-transform: capitalize;
      transition: all 100ms;

      @media only screen and (min-width: $screen-sm-min) {
        padding: rem(21px) 0 0 0;
        height: $header-height-mobile;
        font: {
          size: 1.6rem;
        }
      }

      @media only screen and (min-width: $screen-lg-min) {
        padding: rem(58.5px) 0 0 0;
        height: $header-height-desktop;
        font: {
          size: 1.8rem;
        }
      }
    }

    li.current-page-ancestor > a,
    li.current-menu-parent > a,
    li.current_page_parent > a,
    li.current-menu-item > a,
    a:focus,
    a:hover {
      outline: none;
      text-decoration: none;

      color: $tank-orange;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      @media only screen and (min-width: $screen-sm-min) {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    li {
      @media only screen and (min-width: $screen-sm-min) {
        display: inline-block;
        margin: 0 0.5rem;

        &:last-child {
          margin-right: 0;
        }
      }

      @media only screen and (min-width: $screen-lg-min) {
        margin: 0 1.3rem;
      }
    }

    .menu-item-has-children {
      > ul {
        @media only screen and (min-width: $screen-sm-min) {
          display: none;
        }
      }

      &.current-menu-item > ul,
      &.current-menu-ancestor > ul,
      &.current-page-ancestor > ul {
        @media only screen and (min-width: $screen-sm-min) {
          display: block;
        }
      }
    }

    .sub-menu {
      padding-left: $side-margin-mobile;

      @media only screen and (min-width: $screen-sm-min) {
        position: absolute;
        @supports (position: sticky) {
          position: fixed;
        }
        top: 6rem;
        left: 0;
        width: 100%;
        text-align: center;
        background: $gray;
      }
    }
  }

  /* modified from: https://codepen.io/designcouch/pen/Atyop */
  .nav-toggle {
    display: block;
    width: 2.7rem;
    height: 2rem;
    position: absolute;
    z-index: 101;
    top: 1rem;
    right: 1rem;
    margin: 1rem;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @media only screen and (min-width: $screen-sm-min) {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 0.4rem;
      width: 100%;
      background: $menu-toggle-color;
      border-radius: 4rem;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 8px;
      }

      &:nth-child(4) {
        top: 16px;
      }
    }

    &[aria-expanded="true"] {
      span {
        &:nth-child(1),
        &:nth-child(4) {
          top: 8px;
          width: 0%;
          left: 50%;
        }

        &:nth-child(2) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
}
