// ✧･ﾟ: * ✧･ﾟ:* --------------------
// ✨ Single Post View ✨
// *:･ﾟ✧ *:･ﾟ✧  --------------------
.single {
  .wrap {
    @extend %sides-container;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media only screen and (min-width: $screen-sm-min) {
      padding-top: 8.4rem;
      padding-bottom: 12.5rem;
    }
  }

  .entry-hero-banner {
    max-height: 225px;

    overflow: hidden;

    margin-left: calc(#{$side-margin-mobile} / -1);
    margin-right: calc(#{$side-margin-mobile} / -1);
    display: flex;
    align-items: center;

    img {
      object-fit: cover;
    }

    @media only screen and (min-width: $screen-sm-min) {
      max-height: 500px;
    }

    @media only screen and (min-width: $screen-sm-min) and (max-width: 1319px) {
      margin-left: $side-margin-desktop * -1;
      margin-right: $side-margin-desktop * -1;
    }

    @media only screen and (min-width: 1320px) {
      margin-left: calc(-50vw + 60.75rem);
      margin-right: calc(-50vw + 60.75rem);
    }
  }

  .entry-title {
    @extend .tank-font-heading-2;
    color: $heading-color;
  }

  .post {
    header,
    footer {
      max-width: 80rem;
    }

    .entry-content {
      position: relative;
      width: 100%;
      padding-right: calc(
        100% - 80rem
      ); // so we can align the sharing buttons to the top of the content...

      .sharing-buttons {
        @media only screen and (min-width: $screen-md-min) {
          position: absolute;
          top: 2rem;
          right: 0;
        }
      }
    }
  }

  .post-top-nav {
    margin-bottom: 4rem;

    @media only screen and (min-width: $screen-sm-min) {
      margin-bottom: 8.5rem;
    }
  }
}

// ✧･ﾟ: * ✧･ﾟ:* --------------------
// ✨ Posts page, archive page, News page, etc. ✨
// *:･ﾟ✧ *:･ﾟ✧  --------------------

.blog,
.archive {
  .posts-wrap {
    margin-bottom: 4rem;
  }

  .hentry {
    &:before {
      content: "";
      display: block;
      border-top: 4px dotted $hr-color;
      width: 340px;
      max-width: 100%;
      padding-bottom: 1rem;
    }

    @media only screen and (min-width: $screen-md-min) {
      @supports (display: grid) {
        margin-bottom: 0;
      }
    }
  }
}

.search,
.blog,
.archive {
  .content-wrap {
    @extend %sides-container;
    padding: 4rem 0;

    @media only screen and (min-width: $screen-md-min) {
      padding-top: 8.4rem;
      padding-bottom: 12.5rem;
      padding-right: 6rem;
      padding-left: 6rem;
    }

    .column--twitter {
      padding-bottom: $grid-gutter-width;
      @media only screen and (min-width: $screen-md-min) {
        padding-bottom: 0;
      }
    }
  }

  .hentry {
    margin-bottom: 4rem;

    header {
      display: flex;
      flex-direction: column;
      margin: 1.2rem 0;

      .post-category {
        margin: 0 0 0.4rem;
        font: {
          size: 1.4rem;
          weight: 600;
        }
        letter-spacing: 0.04rem;
        text-transform: uppercase;

        @media only screen and (min-width: $screen-sm-min) {
          font: {
            size: 1.7rem;
          }
        }
      }

      // date;
      .updated {
        margin-bottom: 2.8rem;
        font: {
          size: 1.4rem;
        }
        color: $blue;
        letter-spacing: 0.04rem;

        @media only screen and (min-width: $screen-sm-min) {
          font: {
            size: 1.7rem;
          }
        }
      }
    }
  }

  .entry-title {
    @extend .tank-font-heading-3;
    margin: 0 0 0.6em;
  }

  .entry-summary {
    color: $tank-dark-gray;
  }

  // Featured Image
  .entry-banner {
    width: 100%;
    margin-top: 1rem;

    img {
      height: 200px;
      object-fit: cover;
    }
  }

  .offsite-link {
    color: $blue;
  }

  .hentry header {
    .updated {
      color: $gray;
    }
  }
}

.posts-navigation {
  text-align: center;

  font: {
    size: 1.8rem;
  }

  a {
    color: $tank-blue-3;
  }
}
