.page-template-template-focusareas {
  // hide hero in mobile
  .hero {
    background-color: #137b00;
    display: none;

    @media only screen and (min-width: $screen-sm-min) {
      display: block;
    }
  }
}
