.page-template-template-contact {
  .hero {
    background: #01aeef;
  }

  h2.contact__address {
    @extend .tank-font-heading-2;
    color: $heading-color;
  }

  h3 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    @extend .tank-font-heading-3;
    color: $tank-blood-orange;
  }

  p {
    margin: 1rem 0;
    @extend .tank-font-heading-3;

    a {
      color: $tank-primary-gray;

      &:focus,
      &:hover,
      &:active {
        color: $black;
      }
    }
  }
}
