body#tinymce {
  margin: 12px !important;

  h1 {
    @extend .tank-font-heading-1;
  }
  h2 {
    @extend .tank-font-heading-2;
  }
  h3 {
    @extend .font-heading-4;
  }
  h4 {
    @extend .tank-font-heading-4;
  }
  h5 {
    @extend .font-heading-6;
  }
}
