.twitter-widget-header {
  text-align: center;

  margin-top: -34px;

  &:before {
    content: "";
    display: block;
    border-bottom: 1px solid $tank-blue-3;
    position: relative;
    top: 36px;
    z-index: -10;
  }

  // icon
  > img {
    background-color: white;
    border-left: 3rem solid white;
    border-right: 3rem solid white;
    box-sizing: content-box;
  }
}

// Remove credit for Feed them Social widget
.fts-powered-by-text-popup a.fts-powered-by-text {
  display: none !important;
}
